{% extends "base.html" %}

{% block title %}Доступные проекты{% endblock %}
{% block content %}

{% for project in available_projects %}

    <h1>{{ project.name }} </h1>
        {{"Количество вопросов - "}}
        {{ task.questions|length }}</br>
        {{ "Дата окончания - " }}
        {{ task.ending_time.split("T")[0] }}<br/>
        {{ "Время окончания" }}
        {{ task.ending_time.split("T")[1] }}
        <form method = "POST">
        <input type="hidden" name="task" value="{{ task.id }}" />
        <button type="submit" class="btn btn-primary">Пройти</button>
        <br/>
    </form>

{% endfor %}

{% endblock %}