{% extends "base.html" %}

{% block title %}Проект{% endblock %}
{% block content %}
<h3> Название проекта:  </h3><span>{{ project.name }} </span> </br> </br>
<h3> Краткое описание проекта:  </h3><span>{{ project.shortDescription }} </span> </br> </br>
<h3> Описание проекта:  </h3><span>{{ project.fullDescription }}  </span> </br> </br>
<h3> Цель проекта:  </h3><span>{{ project.goal }}   </span> </br> </br>
<form action = {{ url_for('.redactProject', index=project.id) }} method = "POST">
    <input type="hidden" name="project" value="{{ project.id }}" />
    <button type="submit" class="btn btn-primary">Редактировать информацию о проекте</button>
    <br/>
</form>
<h3> Напоминания: {{ "Пусто" }}  </h3>
<h2> Содержание: </h2>

<form action = {{ url_for('.showProject', index=project.id) }} method = "POST">
    <input type="hidden" name="project" value="{{ project.id }}" />
    <button type="submit" class="btn btn-primary">Создать запись</button>
</form>
        
<form action = {{ url_for('.showProject', index=project.id) }} method = "POST">
    <input type="hidden" name="project" value="{{ project.id }}" />
    <button type="submit" class="btn btn-primary">Создать TODO</button>
</form>

<form action = {{ url_for('.showProject', index=project.id) }} method = "POST">
    <input type="hidden" name="project" value="{{ project.id }}" />
    <button type="submit" class="btn btn-primary">Создать раздел</button>
    <br/>
</form>
{% endblock %}